<h4> Showing all transactions by:</h4>

<table style="width:50%">
  <tr>
    <th>Merchant</th>
    <th>Category(tag)</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <% for transaction in @transaction_by_tag%>
  <tr>
    <td><%= transaction.merchant.merchant_name %></td>
    <td><%= transaction.tag.tag_name %></td>
    <td><%= transaction.price %></td>
    <td><%= transaction.transaction_date %></td>
    <td><button><a class="button" href="/transaction/<%= transaction.id %>"> Edit</a></button></td>
    <% end %>
  </tr>
</table>
