<h4> All Transactions:</h4>

<table style="width:50%">
  <tr>
    <th>Merchant</th>
    <th>Category(tag)</th>
    <th>Amount</th>
    <th>Date</th>
  </tr>
  <% @transactions.each do |transaction| %>
  <tr>
    <td><%= transaction.merchant.merchant_name %></td>
    <td><%= transaction.tag.tag_name %></td>
    <td><%= transaction.price %></td>
    <td><%= transaction.transaction_date %></td>
    <td><button><a class="button" href="/transaction/<%= transaction.id %>"> Edit</a></button></td>
    <% end %>
  </tr>
</table>
<h4> Search by Category(tag):</h4>
<button><a class="button" >Food</a></button>
<button><a class="button" >Drink</a></button>
<button><a class="button" >Hardware</a></button>
<button><a class="button" >Clothing</a></button>

<h4> To enter a new transaction, click below:</h4>
<button><a class="button" href="/transaction/new">New Transaction</a></button>



<!-- enter budget stuff here -->
<h4> Your total spending is: £<%= Transaction.total_spend %></h4>
