<form method="post" action="/transactions/<%= @transaction.id %>">
  <input type="hidden" name="_method" value="put">

  <div class="field-group">
    <label for="merchant-field">Merchant:</label>
    <div class="field">
      <select name="merchant_id" id="merchant-selection">
        <% @merchants.each do |merchant| %>
          <option value=<%= merchant.id %> <%= "selected" if @transaction.merchant_id == merchant.id %>><%=merchant.merchant_name%></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="field-group">
    <label for="tag-selection">Category(tag):</label>
    <div class="field">
      <select name="tag_id" id="tag-selection">
        <% @tags.each do |tag| %>
          <option value=<%= tag.id %> <%= "selected" if @transaction.tag_id == tag.id %>><%=tag.tag_name%></option>
        <% end %>
      </select>
    </div>
  </div>

  <div class="field-group">
    <label for="last-name-field">Amount:</label>
    <div class="field">
      <input
      type="text"
      name="price"
      id="last-name-field"
      value="<%= @transaction.price %>"
      />
    </div>
  </div>

  <div class="field-group">
    <label for="date-field">Date:</label>
    <div class="field">
      <input
      type="date"
      name="transaction_date"
      id="date-field"
      value="<%= @transaction.transaction_date() %>"
      />
    </div>
  </div>

  <button class="button">Update Transaction</button>
</form>
