<h4> All Transactions:</h4>
<div id="table-wrapper">
  <div id="table-scroll">
    <table style="width:50%">
      <thead>
        <tr>
          <th>Merchant</th>
          <th>Category(tag)</th>
          <th>Amount</th>
          <th>Date</th>
        </tr>
      </thead>
      <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.merchant.merchant_name %></td>
        <td><%= transaction.tag.tag_name %></td>
        <td><%= transaction.price %></td>
        <td><%= transaction.transaction_date %></td>
        <td><button><a class="button" href="/transactions/<%= transaction.id %>"> Show</a></button></td>
        <% end %>
      </tr>
    </table>
  </div>
</div>

<h4> Search by:</h4>
<div class="button-centre">
<button><a class="button" href="/merchants">Merchant</a></button>
<button><a class="button" href="/tags">Category(tag)</a></button>
</div>

<h4> To enter a new transaction, click below:</h4>
<div class="button-centre">
  <button><a class="button" href="/merchants/new">New Merchant</a></button>
<button><a class="button" href="/transactions/new">New Transaction</a></button>
<button><a class="button" href="/tags/new">New Tag</a></button>
</div>

<h4> Your total spending is: £<%= Transaction.total_spend %></h4>
<h4> Your remaining budget is: £<%= Transaction.budget %></h4>
